<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cmit.databindingdemo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.cmit.databindingdemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.cmit.databindingdemo.ui.SingleDoubleDataActivity"/>
        <activity android:name="com.cmit.databindingdemo.ui.BaseObserverActivity"/>
        <activity android:name="com.cmit.databindingdemo.ui.BaseObserverFiledActivity"/>
        <activity android:name="com.cmit.databindingdemo.ui.BaseCollectActivity"/>
        <activity android:name=".ui.EventBindActivity"/>
        <activity android:name=".ui.RecyclerViewBindActivity"/>
        <activity android:name=".ui.ObservableArrayListActivity"/>
    </application>

</manifest>